header {
  background: #584b4f;
  color: #fff;
  height: 50px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header nav ul li,
.site-logo {
  display: block;
  padding: 0 1rem;
  line-height: 50px;
}

header nav ul li,
.site-logo a,
header nav ul li,
.site-logo a:hover {
  color: #fff;
  text-decoration: none;
}

header nav ul li a {
  color: #efeae1;
}

header nav ul li a:hover {
  color: #3b9b6d;
  text-decoration: none;
}

.site-banner {
  background: linear-gradient(-45deg, #92d1c4, #a9c89b);
  padding: 3rem 1rem;
}

.site-banner h2 {
  color: #555;
  font-size: 3rem;
}

.site-banner p {
  font-size: 1.2rem;
  color: #555;
}

.member-profile-list-wrap {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.member-profile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  width: 100%;
}

@media (min-width: 600px) {
  .member-profile-list {
    width: 300px;
  }
}

.member-profile-list > img {
  width: 80px;
  height: 80px;
  display: block;
}

.member-profile-list > .summary {
  display: block;
  padding-left: 1rem;
}

.resource {
  margin: 2rem auto;
}

.resource-content {
  padding: 1rem;
}

.resource-contrib {
  border-top: 1px solid #ccc;
  padding: 1rem 1rem;
}

@media (min-width: 1100px) {
  .resource {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .resource-content {
    width: 800px;
  }

  .resource-contrib {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border: 0;
    border-left: 1px solid #CCC;
    padding: 0 1rem;
  }
}

