.resource {
    margin: 2rem auto;
}

.resource-content {
    padding: 1rem;
}

.resource-contrib {
    border-top: 1px solid #ccc;
    padding:1rem 1rem;
}

@media (min-width: 1100px) {
    .resource {
        display: flex;
    }

    .resource-content {
        width:800px;
    }

    .resource-contrib {
        flex-grow:1; 
        border: 0;
        border-left:1px solid #CCC; 
        padding:0 1rem;
    }
}